html {
  font-family: "Open Sans";
}
.line {
  color: #69696a;
}
.the_title {
  display: flex;
  justify-content: left;
}
.upperButton {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  width: 100%;
}
.lowerButton {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  width: 100%;
}
ul {
  list-style-type: none;
}
.paragraph {
  display: flex;
  background-color: #f9fafc;
  color: #69696a;
  border-left: solid 10px #000;
  font-family: "Open Sans";
}
footer {
  display: flex;
  background-color: rgb(247, 193, 162, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.title1 {
  color: #000;
}
.title2 {
  color: #000;
}
a {
  text-decoration: none !important;
}
@media (min-width: 768px) {
}
.dot1 {
  height: 25px;
  width: 25px;
  background-color: rgb(247, 136, 167, 0.6);
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: rgb(247, 193, 162, 0.7);
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: rgb(207, 130, 213, 0.6);
  border-radius: 50%;
  display: inline-block;
}
