.coin {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: gold;
  border-radius: 50%;
  cursor: pointer;
}
#coinscontainer {
  margin-top: 20px;
}
#lightBulb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.dark {
  background-color: black;
}

.light {
  background-color: yellow;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
